:root {
    --accent: #00AFF0;
}

html, body {
    padding: 0;
    margin: 0;
    background: #121212;
    color: white;
    overflow: hidden;
    font-family: Quicksand, sans-serif;
}

img.preload {
    position: absolute;
    width: 1px;
    height: 1px;
    visibility: hidden;
}

p.title {
    font-family: Quicksand, sans-serif;
    font-size: 78px;
    text-align: center;
    color: lightgray;
    margin-bottom: 0;
}

p.text {
    font-family: Quicksand, sans-serif;
    font-size: 20px;
    text-align: center;
    color: lightgray;
    margin-bottom: 0;
}

div.content {
    padding: 0;
    margin: 0;
    background-color: rgba(255, 0, 0, 0);
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 999;
    width: 100%;
    left: 50%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
}

div.addresses {
    font-family: Quicksand, sans-serif;
    font-size: 20px;
    text-align: center;
    color: lightgray;
    margin-bottom: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 999;
    width: 100%;
    left: 50%;
    top: 70%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
}
